<!--- 幻灯片展示 --->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
	function addStyle(file){
		$('head').append('<link href=' + file + ' rel="stylesheet" type="text/css">')
	}
	addStyle("/static/css/swiper-bundle.min.css");
    addStyle("/static/css/simple_style.css");
</script>

<div class="col-lg-offset-1_5" style="margin-top: 30px;">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="https://www.volisoft.top/" target="_blank"><img src="static/img/swiper/t1.jpg"></a></div>
            <div class="swiper-slide"><a href="vr/vr-hall-volisoft/"><img src="static/img/swiper/t2.jpg"></a></div>
            <div class="swiper-slide"><a href="流媒体/x-cloud-30/"><img src="static/img/swiper/t3.jpg"></a></div>
            <div class="swiper-slide"><a href="https://dnbwg.ihonux.com" target="_blank"><img src="static/img/swiper/t4.jpg"></a></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<script type="text/javascript" src="/static/js/swiper-bundle.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper(".mySwiper", {
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>