<!--- 幻灯片展示（用手机浏览时呈现） --->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
	function addStyle(file){
		$('head').append('<link href=' + file + ' rel="stylesheet" type="text/css">')
	}
	addStyle("/static/css/simple_style.css");
</script>
<script type="text/javascript" src="/static/js/simple_swiper.js"></script>
<div class="col-lg-offset-1_5">
    <div id="swiper-demo" class="simple-swiper-container">
        <a id="sprev" class="btn btn-prev"></a>
        <a id="snext" class="btn btn-next"></a>
        <div class="pagination"></div>
    </div>
</div>
<script src="/static/js/current-device.min.js" type="text/javascript"></script>
<script type="text/javascript">
	new SimSwiper("#swiper-demo", {
        autoplay: 4500,
        duration: 300,
        easing: 'ease',
        button: {
            prev: "#sprev",
            next: "#snext"
        },
        pagination: {
            el: '.pagination'
        },
        data: [{
            index: 1,
            href: 'javascript:void(0)',
            src: 'static/img/swiper/t1.jpg'
        }, {
            index: 2,
            href: '#',
            src: 'static/img/swiper/t2.jpg'
        }, {
            index: 3,
            href: 'javascript:void(0)',
            src: 'static/img/swiper/t3.jpg'
        }, {
            index: 4,
            href: 'javascript:void(0)',
            src: 'static/img/swiper/t4.jpg'
        }]
    });

    if(!device.mobile()){
        var t = document.getElementById('swiper-demo');
		t.style.height = '500px';
    }
</script>